################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bsn-sdk-csharp/obj/Debug/netcoreapp3.1
/bsn-sdk-test/obj/Debug/netcoreapp3.1
